body {
	background-image: linear-gradient(#C17D7C,#D36C50,#B24A19,#9B300F);
	/* #A13F22*/
	margin: 0px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: papyrus, arial;
	font-weight: bold;
	font-size: 120%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}

main {
	margin-left: 20px;
	margin-right: 20px;
}

header {
	text-align: center;
	color: #F7F3E7;
	size: 30px;
	padding-top: 50px;
}

h1 {
	font-weight: bolder;
	text-shadow: 2px 2px 3px black
}

.cover-photo {
	height: 600px;
	display:block;
	border-radius: 150px;
}

/* Subtitle color and alignment */
h2 {
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

h2, h3 {
	text-shadow: 2px 2px 3px black
}

h2, h3, h4 {
	color: #F7F3E7;
	padding-top: 40px;
	font-weight: bold;
}

/* Navbar configuration */
.navbar ul {
	list-style-type: none;
	background: (193, 125, 124, 0.25);
	width: 100vw;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
}

.navbar a {
	color: #F7F3E7;
	text-decoration: none;
	transform: scale (1,1);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 80px;
	display: block;
	text-align: center;
}

.navbar a:hover {
	background: #0F4C827A;
	border-radius: 10px;
	transform: scale (1.1,1.1);
}

.navbar a:active {
	transform: scale (1,1); 
}

.navbar li {
	float: left;
}

/* Center thank you message */
.thanks {
	text-align: center;
	background: #657B66C9;
	border-radius: 20px;
	padding: 20px;
}

h2.thanks {
	display: block;
	padding: 20px;
	margin-left: 27%;
	margin-right: 27%;
	margin-top: 80px;
}

/* Itinerary configuration */
section ul {
	display: inline-block;
	color: #F7F3E7;
	list-style-type: none;
	background: #3F523D;
	padding: 40px;
	border-radius: 25px;
	text-align: left;
}

section ul li {
	padding-top: 25px;
	padding-bottom: 25px;
}

section ul li a {
	color: #B1696A;
	text-decoration: none;
}

/* UC logo */
.logo {
	background-color: #F0DFCD;
	padding: 5px;
	border-radius: 10px;
}

.activities-link {
	/* font-family: arial; */
	font-size: 26px;
	color:#90be8a;
}

/* Important Notes*/
.notes {
	width: 700px;
	list-style-type: disc;
	background: #9B300F;
	/*color: #F0DFCD;*/
}

.pack-list {
	list-style: disc;
}

.pack-list li h4 {
	list-style: none;
}

.airport {
	background-color: #C17D7C;
	list-style: disc;
}

.airport li a {
	color:#9B300F;
}

.airport li a:hover {
	color:#0F4C827A;
}

/* Table configuration */
table {
	border: 2px solid #3F523D;
	border-radius: 20px;
	width: 850px;
	height: 175px;
	background: #F0DFCD;
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 auto;
}


table th:not(:last-child),
table td:not(:last-child) {
	border-right: 2px solid #3F523D;
}

table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>tr:not(:last-child)>td,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
	border-bottom: 2px solid #3F523D;
}

th,
td {
	margin-left: 2%;
	color: #B1696A;
}

th, td {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border
}

td a {
	text-decoration: none;
	color: #3F523D;
	font-weight: bold;
	padding: 3px 20px;
}

td {
	font-weight: bold;
}

/* Photo album link*/
.album-link {
	font-size: 175%;
	font-weight: 600;
	background: #3F523D;
	padding: 10px;
	border-radius: 20px;
}

.album-link a {
	color: #C17D7C;
	text-decoration: none;
}

.album-link:hover {
	background: #0F4C82;
	border-radius: 20px;
	transform: scale(1.05, 1.05);
}

.album-link a:hover {
	color: #F0DFCD;
}

.album-link:active {
	transform: scale(1, 1);
}

/* Venmo link*/
.venmo {
	font-size: 175%;
	font-weight: 600;
	color: #C17D7C;
	background: #3F523D;
	padding: 10px;
	border-radius: 20px;
}

.venmo a {
	color: #C17D7C;
	text-decoration: none;
}

.venmo:hover {
	background: #0F4C82;
	border-radius: 20px;
	color: #F0DFCD;
	transform: scale(1.05, 1.05);
}

.venmo a:hover {
	color: #F0DFCD;
}

.venmo:active {
	transform: scale(1, 1);
}

section p a {
	color: #3F523D;
	text-decoration: none;
}

p {
	padding-top: 20px;
	color: #F7F3E7;
	padding-top
}

img {
	padding-top: 20px;
	padding-bottom: 50px;
}

.photo {
	border-radius: 150px;
}

	/* Hyperlink Message */
footer p {
	text-align: center;
	text-decoration: underline;
	padding-top: 60px;
	padding-bottom: 60px;
}
